@model IEnumerable<Liga.Web.Models.Player>

<div class="container mt-4">
    <h2>🏃 Zawodnicy</h2>
    <div class="card shadow-sm border-0 mt-3">
        <table class="table table-striped table-hover mb-0">
            <thead class="table-dark">
            <tr>
                <th class="ps-4">Imię i Nazwisko</th>
                <th>Pozycja</th>
                <th class="pe-4">Klub</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var player in Model)
            {
                <tr>
                    <td class="ps-4 align-middle"><strong>@player.Name @player.Surname</strong></td>
                    <td class="align-middle"><span class="badge bg-secondary">@player.pozycja</span></td>
                    <td class="pe-4 align-middle fw-bold">@(player.Team != null ? player.Team.Name : "Wolny agent")</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>